body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(168, 125, 119); /* الخلفية الزرقاء */
    color: rgb(0, 247, 255); /* اللون الأصفر للنص */
}

.welcome-container {
    position: absolute;
    top: -100px; /* تحديد الامتثال الأعلى للعنصر */
    left: 0;
    width: 100%;
    height: 100px; /* ارتفاع العنصر */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 1s ease-in-out; /* تحريك العنصر بسرعة */
    
}
